.Directors {
    background: #16697a;
    color: white;
    padding: 4rem 0;
}

.Directors h1 {
    text-align: center;
}

.DirectorsGroup {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 420px) {
    .DirectorsGroup {
        justify-content: center;
    }
}