.Jumbotron {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    justify-content: space-between;
    margin: 1rem auto 2rem;
    max-width: 1100px;
    padding-top: 4rem;
    width: 90%;
}

.Text {
    color: #16697a;
    text-align: center;
}

.Text h1 {
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem;
}

.Text p {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    opacity: 0.7;
}

.Buttons {
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;
    width: 100%;
}

.LearnMore {
    background: none;
    border: none;
    padding: none;
}

.LearnMore a {
    border: 2px solid #ff8f32;
    border-radius: 32px;
    color: #ff8f32;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.LearnMore a:hover {
    background: #ff8f32;
    color: white;
}

.ImageGroup {
    position: relative;
    width: 100%;
}

.ImageContainer {
    border-radius: 35% 20% 30% 35%/25% 40% 25% 20%;
    height: 20rem;
    overflow: hidden;
    transform: rotate(20deg);
    width: 100%;
}

.ImageContainer img {
    bottom: 2rem;
    position: relative;
    right: 21rem;
    transform: rotate(-20deg);
}

.Big {
    background: #3eb0c7;
    border-radius: 50% 40% 45% 40%/ 40% 35% 50% 45%;
    height: 20rem;
    left: -2rem;
    position: absolute;
    top: -3rem;
    transform: rotate(-10deg);
    width: 110%;
    z-index: -1;
}

.Medium {
    background: #fca45c;
    border-radius: 50%;
    bottom: -2rem;
    height: 10rem;
    left: -2rem;
    position: absolute;
    transform: rotate(25deg);
    width: 6rem;
}

.Small {
    background: salmon;
    border-radius: 50%;
    height: 6rem;
    position: absolute;
    right: -3rem;
    top: 2rem;
    width: 6rem;
}

@media (min-width: 650px) {
    .Text h1 {
        font-size: 2.5rem;
        margin: 0.5rem 0;
    }
    
    .Text p {
        font-size: 1.5rem;
    }

    .ImageGroup {
        width: 85%;
    }

    .ImageContainer img {
        right: 17rem;
    }

    .Big {
        height: 25rem;
    }

    .Medium {
        left: 4rem;
    }

    .Small {
        right: 0;
    }
}

@media (min-width: 850px) {
    .Jumbotron {
        flex-direction: row;
        padding-top: initial;
    }

    .Text {
        text-align: left;
        width: 40%;
    }

    .Buttons {
        justify-content: initial;
    }

    .ImageGroup {
        width: 55%;
    }

    .ImageContainer {
        height: 25rem;
    }

    .Big {
        height: 30rem;
    }
}