.Jumbotron {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin: auto;
    overflow: hidden;
    padding: 8rem 1rem 5rem;
    position: relative;
    text-align: center;
}

.Jumbotron h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem;
}

.Jumbotron p {
    margin: 0 0 0.5rem;
    opacity: 0.7;
}

.Video {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1; 
}

.Buttons {
    margin: 2rem auto;
}

.LearnMore {
    background: none;
    border: none;
    margin-bottom: 2rem;
    padding: none;
}

.LearnMore a {
    border: 2px solid white;
    border-radius: 32px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.LearnMore a:hover {
    background: var(--cta);
    border: 2px solid var(--cta);
    color: white;
}

@media (min-width: 720px) {
    .Jumbotron h1 {
        font-size: 2rem;
    }
    
    .Jumbotron p {
        font-size: var(--secondary-text);
    }
}

@media (min-width: 1000px) {
    .Video {
        top: -10%;
    }
}