.Department {
    display: flex;
    justify-content: center;
}

.Department img {
    border-radius: 4px;
    margin: 0 1rem;
    width: 40%;
}

.Text {
    border-radius: 4px;
    margin: 0 1rem;
    padding: 1rem;
}

.Text h3 {
    color: var(--highlight);
}