.Department {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.Department img {
    border-radius: 4px;
    margin: 0 1rem;
    width: 40%;
}

.Text {
    background: white;
    border-left: 4px solid var(--cta);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin: 0 1rem;
    padding: 1rem;
    width: 40%;
}

.Text h3 {
    color: var(--highlight);
}