.PositionDetails {
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
}

.PositionDetails img {
    border-radius: 50%;
    height: 8rem;
    margin-top: 1.5rem;
    object-fit: cover;
    width: 8rem;
}

.PositionDetails h1 {
    color: var(--highlight);
    font-size: 2.5rem;
    margin: 0rem;
    text-align: center;
}

.PositionDetails h3 {
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

.PositionDetails p {
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

.Text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.Text p {
    margin: 0;
    padding: 0;
}

.Text ul {
    font-style: italic;
    list-style: none;
    margin: 1rem 0.25rem 0;
    padding: 0 0 0.25rem;
}

.Text li {
    text-indent: -.7em;
}
  
.Text li::before {
    content: "• ";
    color: var(--highlight);
}

@media (min-width: 850px) {
    .Text {
        align-items: flex-start;
        flex-direction: row;
        text-align: left;
    }

    .Text p {
        width: 47.5%;
    }

    .Text ul {
        margin: 0;
        width: 47.5%;
    }

    .Text li {
        padding-left: 1.25rem; 
    }
}