.Mission {
    margin: auto;
    max-width: 800px;
    padding: 2rem 0;
    text-align: center;
    width: 90%;
}

.Mission h2 {
    color: var(--highlight);
    font-size: var(--secondary-header);
    margin: 1rem 0;
}

.Mission p {
    color: var(--secondary-color);
    line-height: 1.5;
    margin: 0.5rem auto;
    width: 90%
}

@media (min-width: 850px) {
    .Mission {
        padding: 4rem 0;
    }
    
    .Mission h2 {
        font-size: var(--jumbo-text);
    }
    
    .Mission p {
        font-size: var(--secondary-text);
    }
}