.Divisions {
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5) 100%, transparent), 
    url("https://firebasestorage.googleapis.com/v0/b/one-energy-global.appspot.com/o/jumbotronImg.jpg?alt=media&token=60a5a05b-c02b-4f76-a52e-fb462b3c9907") 40%/cover no-repeat border-box;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    padding: 4rem 0;
    position: relative;
}

.DivisionGroup {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
}