.Contact {
    margin: auto;
    max-width: 600px;
    padding: 2rem 0;
    text-align: center;
}

.Contact h4 {
    margin-bottom: 1rem;
}

.Contact img {
    animation: appear 1s ease-out;
    margin-top: 2rem;
    max-width: 250px;
    width: 100%;
}

.Captcha {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}