.SocialResp {
    display: flex;
    justify-content: center;
    margin: 16rem 0;
}

.SocialResp img {
    border-radius: 4px;
    bottom: 4rem;
    left: 2rem;
    position: relative;
    width: 40%;
}

.Text {
    background: white;
    border-left: 4px solid var(--cta);
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: var(--text);
    padding: 2rem;
    position: relative;
    right: 4rem;
    text-align: right;
    width: 40%;
    z-index: 5;
}

.Text h2 {
    color: var(--highlight);
}

.Text p {
    color: var(--secondary-color);
    line-height: 1.8;
}