.Newsletter {
    padding: 4rem 1rem;
    text-align: center;
}

.Newsletter h2 {
    color: initial !important;
    font-size: 1.5rem !important;
    margin-bottom: 1.5rem;
}

.Socials {
    margin-top: 1.5rem;
}

.Socials a {
    color: inherit;
}

.Social {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.25rem;
    transition: all 0.25s linear !important;
}

.Social:hover {
    background: black;
    color: white;
}