.Tier {
    background: white;
    border-radius: 48px 0 48px 0;
    display: flex;
    flex-direction: column;
    height: 17rem;
    /* height: 30rem; */
    justify-content: space-between;
    margin: 1rem;
    padding: 2.5rem 3rem;
    width: 20rem;
}
.Tier ul {
    list-style: none;
    padding: 0;
}

.Tier li {
    display: flex;
    margin: 1rem 0;
}

.Tier svg {
    color: var(--cta);
    margin-top: 0.2rem;
    padding-right: 0.25rem;
}

.Tier button {
    font-weight: bold;
}

.Top h2 {
    font-size: 1.75rem;
}

.Description {
    font-size: 0.8rem;
}

.FamilyButton {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: var(--highlight);
    border: 2px solid white;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    transition: all 0.25s linear;
}

.FamilyButton:hover {
    background: white;
    color: var(--highlight);
}