.CTASection {
    background: url("https://firebasestorage.googleapis.com/v0/b/one-energy-global.appspot.com/o/ChangeCTA.jpg?alt=media&token=faf7d55a-e62d-4f87-aa43-ec3c5a36417e");
    color: white;
    padding: 4rem 0;
    text-align: center;
}