.Intro {
    background: #16697a;
    padding: 4rem 0;
}

.IntroContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1300px;
    width: 90%;
}

.IntroContent img {
    border-radius: 16px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
    width: 40%;
}

.Text {
    width: 45%;
}

.Text h2 {
    color: #ff8f32;
}

.Text p {
    color: white;
    font-size: 1.1rem;
    line-height: 2;
}