.Intro {
    background: var(--background);
    padding: 1rem 0;
    text-align: center;
}

.Intro h2 {
    color: var(--highlight);
    font-size: var(--secondary-header);
}

.Intro img {
    border-radius: 16px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    width: 60%;
}

.Intro p {
    color: var(--secondary-color);
    line-height: 1.5;
    margin: 0.5rem auto;
    width: 90%
}

.Content {
    margin: auto;
    max-width: 1000px;
}

@media (min-width: 850px) {
    .Intro {
        padding: 4rem 0;
    }

    .Intro img {
        width: 40%;
    }

    .Intro p {
        line-height: 2;
        font-size: var(--secondary-text);
    }
}