.Intro {
    background: #16697a;
    padding: 4rem 0;
    text-align: center;
}

.Intro img {
    border-radius: 16px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
    width: 90%;
}

.Intro h2 {
    color: #ff8f32;
}

.Intro p {
    color: white;
    font-size: 1.1rem;
    line-height: 2;
}

@media (min-width: 850px) {
    .Intro img {
        width: 40%;
    }
}