.FooterContacts {
    margin: 2rem auto;
    text-align: center;
}

.FooterContacts h3 {
    margin-bottom: 1rem;
}

.FooterContacts p {
    margin: 1rem auto;
    text-align: center;
}

.FooterContacts a {
    margin: auto;
    text-decoration: none;
}

.ContactUs p,
.ContactUs a {
    align-items: center;
    color: inherit;
    /* display: flex; */
}

.ContactUs svg {
    margin-right: 0.25rem;
}

.SocialLinks {
    display: flex;
    justify-content: center;
}

.SocialLinks p {
    margin: 0;
}

.SocialLinks a {
    color: inherit;
    margin-right: 0.5rem;
}